body {
    background-color: #e0f7fa; /* Light blue background */
}
.navbar {
    background-color: #007bff !important; /* Bootstrap primary blue */
}
.hero {
    height: 70vh;
    color: rgba(61, 186, 186, 0.828);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card {
    border-radius: 15px;
    overflow: hidden;
}
.footer {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}
